{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
{% include "includes/head_refrenses.html" %}
</head>

<body>

<!-- ***** Preloader Start ***** -->
<div id="preloader">
        <div class="jumper">
            <div></div>
            <div></div>
            <div></div>
        </div>
</div>  
<!-- ***** Preloader End ***** -->

<!-- Header -->
{% include "includes/header.html" %}

{% block content %}


{% endblock %}



{% include "includes/footer.html" %}
  
{% include "includes/scripts_refrences.html" %}
  
</body>
  </html>